global:                                                                         
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:                                                              
      monitor: 'exporter-metrics'                                                
                                                                                
rule_files:                                                                     
                                                                                
scrape_configs:                                                                 
  - job_name: 'hosts'                                                           
                                                                                
    target_groups:
     - targets:{{range ls "/hosts"}}
         - '{{.}}:9104'
         - '{{.}}:9100' {{end}}

  - job_name: 'rancher-api'

    target_groups:
      - targets:
          - 'rancher-api-integration:9010'
